{% extends 'djangoapp/base.html' %}
{% block content %}

    <div style="text-align: center;margin: auto; margin-top: 2rem;">
      <div class="card" style="width: 50rem; display: inline-block;">
        <div class="card-body">
          <h3 class="card-title">GreatCars Dealership</h3>
          <h4 class="card-subtitle mb-2 text-muted">
            One of the Best car Dealership and Service  in North America
          </h4><br>
          <h6 class="card-text">
            Welcome to Great Cars dealership, home to the best cars in North 
            America. We sell and service domestic and imported cars at reasonable prices.
          </h6><br>
          <a href="/djangoapp" class="card-link">Home</a>
          <a href="contact" class="card-link">Contact us</a>
        </div>
      </div>
    </div>
    
{% endblock %}
