
{% extends 'djangoapp/base.html' %}
{% load static %}
{% block content %}

<div class="container col-8">
  <h3>Car Dealers</h3>
  <table class="table" id="table" data-filter-control="true" >
    <thead>
      <tr>
      <th scope="col">Dealer Id</th>
      <th scope="col">Dealer Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Zip</th>
      <th data-field="state" data-filter-control="select">State</th>
      </tr>
    </thead>
    <tbody>
      {% for dealership in dealerships %}
      <tr scope="row">
        <td>{{dealership.id}}</td>
        <td><a href="getreview/{{dealership.id}}">{{dealership.full_name}}</a></td>
        <td>{{dealership.address}}</td>
        <td>{{dealership.city}}</td>
        <td>{{dealership.zip}}</td>
        <td>{{dealership.st}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </div>
  {% endblock %}

  {% block footer %}
  <script>
    $(function() {
      $('#table').bootstrapTable()
    })
  </script>
  {% endblock %}
