{% extends 'djangoapp/base.html' %} {% block content %}
 {% if user.is_authenticated %}
<div class="card col-8" style="margin: auto; padding: 1rem">
  <h5>Add a review about <strong>Great Car Dealers</strong></h5>
  <form method="post" class="form form-floating">
    {% csrf_tocken %}
    <div class="form-group">
      <label for="review">Enter Your Review</label>
      <textarea
        name="review"
        class="form-control"
        cols="50"
        rows="4"
      ></textarea>
    </div>
    <div class="form-check">
        <input type="checkbox" name="purchase" class="form-check-input">
        <label for="purchase">Purchased from Great Car Dealers</label>
    </div>
    <div class="form-check">
        <label for="purchase">Purchase Date</label>
        <input type="date" name="purchase" class="sr">
    </div>
    <div class="form-inline col-5">
        <label for="car_model" style="margin-right: 3px;">Car Model </label>
        <select class="custom-select custom-select-sm">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <input type="submit" class="btn- btn-sm btn-primary">
  </form>
</div>

{% endif %} 

{% endblock %}
