{% extends 'djangoapp/base.html' %}
{% block content %}
<div class="card col-8" style="margin:auto;">
    <table class="table">
        <tr>
            <td>Dealer</td>
            <td><h5>{{review.name}}</h5></td>
        </tr>
        <tr>
            <td>Car Make</td>
            <td><h5> {{review.car_make}}</h5></td>
        </tr>
        <tr>
            <td>Car Model</td>
            <td><h5> {{review.car_model}}</h5></td>
        </tr>
        <tr>
            <td>Review</td>
            <td><h5> {{review.review}}</h5></td>
        </tr>
        <tr>
            <td>Sentiment</td>
            <td><h5> {{review.sentiment}}</h5></td>
        </tr>
    </table>
</div>

{% endblock %}